body {
  background: #666 /* #eee */;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 60px 20px 20px 20px;
}

ol, ul {
  padding-left: 30px;
}

.play-button {
  margin-left: 30px;
}

#sprite-sheet {
  display:none; /* ?unhide for saving embedded images */
}

.grid-wrapper,
.map-wrapper,
.cell--button {
  image-rendering: pixelated;
}

.nav-button {
  width: 80px;
}

.grid-wrapper {
  position: absolute;
}

.keys-wrapper {
   position: relative;
    top: 490px;
    width: 100%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.trigger--is-empty {
  border: 1px solid #aaa;
}

.trigger--not-empty {
  border: none;
}

.rule {
  background: #fff;
  position: relative;
  margin: 0 14px 11px 0;
  float: left;
  width: 199px;
  height: 111px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cell1 {
  position: absolute;
  left: 85px;
  top: 7px;
}

.cell2 {
  position: absolute;
  left: 52px;
  top: 40px;
}

.cell3 {
  position: absolute;
  left: 85px;
  top: 40px;
}

.cell4 {
  position: absolute;
  left: 118px;
  top: 40px;
}

.cell5 {
  position: absolute;
  left: 85px;
  top: 73px;
}

.cell-output {
  position: absolute;
  left: 158px;
  top: 40px;
}

.cell-trigger { 
  position: absolute;
  left: 9px;
  top: 40px;
}

.arrow-wrapper {
  position: absolute;
  left: 158px;
  top: 2px;
}

.sprite--inner {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  height: 32px;
  border: none;
}

.cell--trigger {
  background-size: contain;
}

.cell-trigger .cell--inner {
  border-radius: 15px;
  background-color: #ddd;
  width: 32px;
  height: 32px;
}

.rule--cell:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.mft {
  display: flex;
  flex-direction: row;
}

.popover {
  max-width: 186px
}

.sprite-palette {
  padding: 11px 0 0 8px;
  position: fixed;
  z-index: 99;
  margin: -11px 0 0 -20px;
  width: 86px;
  height: 100%;
}

.sprite-palette--cell {
  margin: 4px 3px 0 0;
  height: 32px;
  width: 32px;
  float: left;
  transform: scale(0.9);
}

.cell--button {
  /*border: 1px solid #ccc;*/
  border: none;
}

.sprite-palette .cell--button {
  border: none;
}

.map-wrapper {
  margin: 0 0 0 73px;
  position: relative;
}

.rules-wrapper {
  padding: 3px 0 0 73px
}

/* NavBar */

.main-links {
  margin: 0 auto;
}

.main-links .nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.settings-modal .modal-body {
  padding: 0 1rem 1rem 2rem;
}

.settings-modal h5 {
  margin: 20px 0 10px 0;
}

.form-label {
  margin-top: .5rem;
}