body {
  background: #eee;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 60px 20px 20px 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.trigger1 {
  background: url("./img/triggers/arrow_left.png");
}

.trigger2 {
  background: url("./img/triggers/arrow_up.png");
}

.trigger3 {
  background: url("./img/triggers/arrow_right.png");
}

.trigger4 {
  background: url("./img/triggers/arrow_down.png");
}

.trigger5 {
  background: url("./img/triggers/tap.png");
}

.trigger6 {background: url("./img/triggers/button1.png")}
.trigger7 {background: url("./img/triggers/button2.png")}
.trigger8 {background: url("./img/triggers/1-2-random.png")}
.trigger9 {background: url("./img/triggers/2-2-random.png")}
.trigger10 {background: url("./img/triggers/step1.png")}
.trigger11 {background: url("./img/triggers/timer1.png")}
.trigger12{background: url("./img/triggers/timer2.png")}
.trigger13 {background: url("./img/triggers/timer1.png")}
.trigger14 {background: url("./img/triggers/loop.png")}
.trigger15 {background: url("./img/triggers/loop1.png")}
.trigger16 {background: url("./img/triggers/1-4-random.png")}
.trigger17 {background: url("./img/triggers/2-4-random.png")}
.trigger18 {background: url("./img/triggers/3-4-random.png")}
.trigger19 {background: url("./img/triggers/4-4-random.png")}
.trigger20 {background: url("./img/triggers/step2.png")}
.trigger21 {background: url("./img/triggers/trigger1.png")}
.trigger22 {background: url("./img/triggers/trigger2.png")}
.trigger23 {background: url("./img/triggers/trigger3.png")}
.trigger24 {background: url("./img/triggers/trigger4.png")}
.trigger25 {background: url("./img/triggers/loop2.png")}

.icon1 {
  background-position: -32px  -32px;
}

.icon2 {
  background-position: -64px  -32px;
}

.icon3 {
  background-position: -96px  -32px;
}

.icon4 {
  background-position: -128px  -32px;
}

.icon5 {
  background-position: -160px  -32px;
}

.icon6 {
  background-position: -192px  -32px;
}

.icon7 {
  background-position: -224px  -32px;
}

.icon8 {
  background-position: -256px  -32px;
}

.icon9 {
  background-position: -32px 0;
}

.icon10 {
  background-position: -64px  0;
}

.icon11 {
  background-position: -96px  0;
}

.icon12 {
  background-position: -128px  0;
}

.icon13 {
  background-position: -160px  0;
}

.icon14 {
  background-position: -192px  0;
}

.icon15 {
  background-position: -224px  0;
}

.icon16 {
  background-position: -256px  0;
}

.rule {
  background: #fff;
  position: relative;
  margin: 0 14px 11px 0;
  float: left;
  width: 185px;
  height: 100px;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cell-wrapper {
  transform: scale(.9);
  margin-left: -2px;
  margin-top: -2px;
}

.cell1 {
  position: absolute;
  left: 78px;
  top: 7px;
}

.cell2 {
  position: absolute;
  left: 49px;
  top: 36px;
}

.cell3 {
  position: absolute;
  left: 78px;
  top: 36px;
}

.cell4 {
  position: absolute;
  left: 107px;
  top: 36px;
}

.cell5 {
  position: absolute;
  left: 78px;
  top: 65px;
}

.cell-output {
  position: absolute;
  left: 147px;
  top: 36px;
}

.cell-trigger { 
  position: absolute;
  left: 9px;
  top: 36px;
}

.cell--inner {
  border: 1px solid #ccc;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  height: 34px;
}

.sprite--inner {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
  height: 32px;
  border: none;
}

.cell--trigger {
  background-size: contain;
}

.cell-trigger .cell--inner {
  border-radius: 15px;
}

.rule--cell:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.mft {
  display: flex;
  flex-direction: row;
}

.popover {
  max-width: 216px
}

.sprite-palette {
  padding: 11px 0 0 10px;
  position: fixed;
  z-index: 99;
  margin: -11px 0 0 -20px;
  width: 85px;
  height: 100%;
}

.sprite-palette--cell {
  margin: 4px 3px 0 0;
  height: 32px;
  width: 32px;
  float: left;
  transform: scale(0.9);
}

.sprite-palette--cell .cell--inner {
  border: none;
}

.rules-wrapper {
  padding: 3px 0 0 73px
}